body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background: #EEEEEE;
  font-family: 'Courier New'
}

h1,h2,h3 {
  line-height: 1.2
}

ul.horizontal {
  list-style-type: none;
  padding:0 10px;
  margin: 20;
}
ul.horizontal li{
  float: left;
  padding: 0 10px;
  font-size: 24px;
}
